@import "partials/mixins";

body, html {
  margin: 0;
  padding: 0;
}

button {
  width: 110px;
}

.navbar-logo {
  width: 10%;
  height: 10%;
}

.main-container .display-4, .display-5 {
  color: white;
  margin-bottom: 20px;
}

#main-personal, #main-business, #main-agency {
  display: none;
}

.personal-bg {  
  @include horizontal-gradient(#392751, #8669ad);
  height: 550px;
  width: 100%;
}

.business-bg {
  @include horizontal-gradient(orange, red);
  height: 550px;
  width: 100%;
}

.agency-bg {
  @include horizontal-gradient(green, yellow);
  height: 550px;
  width: 100%;
}


.buttons-group {
  margin-left: auto;
  margin-right: auto;

  .btn {
  background-color: white;
  color: black;
  border: none;

    .btn:active {
    background-color: white;
    }
  }
}

.container-personal, .container-agency, .container-business {
  background-color: white;
  width: 80%;
  max-width: 800px;
  min-height: 800px;
  border-radius: 10px;
  @include box-shadow(0px, 3px, 42px, rgba(0,0,0,0.64));
  padding-top: 30px;
  padding-bottom: 30px;

  h1, h2, h3, h4, h5 {
  margin-bottom: 30px;
  }

  h4 {
  font-size: 16px;
  }
}



.far, .fas {
  display: block;
  width: 32px;
  height: 32px;
  background-color: green;
  color: white;
  border-radius: 50%;
  padding: 7px;
  margin-right: 5px;
}

.wrapper-left-bottom, .wrapper-right-bottom {
  padding-left: 30px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    -webkit-box-shadow: 0px 3px 42px -2px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 3px 42px -2px rgba(0,0,0,0.64);
    box-shadow: 0px 3px 42px -2px rgba(0,0,0,0.64);
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 42px -2px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 3px 42px -2px rgba(0,0,0,0.64);
    box-shadow: 0px 3px 42px -2px rgba(0,0,0,0.64);
    background: white;
    cursor: pointer;
}

#slider-value {
  font-size: 20px;
  font-weight: 700;
  border-bottom: solid 1px lightgrey;
  padding: 3px 10px;
}

img {
  width: 100%
}